<div class="header-content">
    <div class="header-background">
        <img 
        src="../assets/images/salle-cinema.jpg"
        />
    </div>
    <div class="header-front">
        <div class="header-bloc">
            <div class="header-bloc-part">
                <div class="header-bloc-title">
                    <div>
                        <h3>𝓁𝑒𝓈 𝒸𝒾𝓃𝑒𝓂𝒶𝓈</h3>
                    </div>
                    <div>
                        <h1>𝗣𝗔𝗧𝗛𝗘 𝗚𝗔𝗨𝗠𝗢𝗡𝗧</h1>
                    </div>
                </div>
            </div>
            <div class="header-bloc-part" *ngIf="logged == false">        
                <div class="header-Login-Logout">
                    <a routerLink="/login">Me connecter</a>
                    <!--  /
                        <a routerLink="/" (click)="logout()">Logout</a> -->
                </div>
                <div class="header-register">
                    <a routerLink="/register">Créer un compte</a>
                </div>
            </div>
        </div>
        
        <div (click)="toggle()" class="header-about-link">
            <a routerLink="/">En savoir plus sur moi...</a>
        </div>

        <div class="header-event">
            <div class="header-event-row">
                Nos cinémas sont fermés pour le moment...
            </div>
        </div>
        
        <nav class="header-navbar">
            <div class="header-link-container">
                <a routerLink="/">Films</a>
            </div>
            <div class="header-link-container">
                <a routerLink="/cinema">Cinémas</a>
            </div>
            <div class="header-link-container">
                <a routerLink="/test">Films & Evènements</a>
            </div>
            <div class="header-link-container">
                <a routerLink="/test">Cinépass</a>
            </div>
            <div class="header-link-container">
                <a routerLink="/test">Offres & actus</a>
            </div>
            <div class="header-link-container">
                <a routerLink="/test">Rechercher</a>
            </div>
        </nav>
    </div>
    
    <nav>
        <div [@openClose]="isOpen ? 'open' : 'closed'" class="sidebar">
            <div class="sidebar-content">
                <div class="sidebar-close-button-container">
                    <button id="sidebarCloseButtonId" (click)="toggle()">X</button>
                </div>
    
                <h1>A propos de moi</h1>
                <p>
                    Je suis extrêmement motivé pour
                    développer constamment mes
                    compétences et évoluer
                    professionnellement. Je suis
                    confiant dans ma capacité à
                    proposer des idées intéressantes
                    pour des applications web au
                    niveau Back-end comme Frontend.
    
                    Retrouvez mes différents projets sur mon Github ou contactez moi par email ou linkedIn.
                </p>
    
                <h3>Suivez-moi sur...</h3>
                <div class="contact-list">
                    <ul>
                        <li><img src="../../../../assets/images/linkedIn.svg" /><a
                                href="https://www.linkedin.com/in/mathieu-ibersien-9466601ba/">Linked in</a></li>
                        <li><img src="../../../../assets/images/github.svg" /><a
                                href="https://github.com/skrollu/">Github</a></li>
                        <li><img src="../../../../assets/images/facebook.svg" /><a
                                href="https://www.facebook.com/mathieu.ibersien/">Facebook</a></li>
                        <li><img src="../../../../assets/images/twitter.svg" /><a
                                href="https://twitter.com/Maaaaamath">Twitter</a></li>
                        <li><img src="../../../../assets/images/instagram.svg" /><a href="">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
</div>