<div class="header-content">
    <div class="header-background">
        <img 
        src="../assets/images/salle-cinema2.jpg"
        />
    </div>
    <div class="header-front">
        
        <div class="header-title">
            <div>
                <h3>𝓁𝑒𝓈 𝒸𝒾𝓃𝑒𝓂𝒶𝓈</h3>
            </div>
            <div>
                <h1>𝗣𝗔𝗧𝗛𝗘 𝗚𝗔𝗨𝗠𝗢𝗡𝗧</h1>
            </div>
        </div>

        
        <div (click)="toggle()" class="header-about-link">
            <a routerLink="/">En savoir plus sur moi...</a>
        </div>
        
        <app-login-panel></app-login-panel>           
        <app-important-add></app-important-add>        
        <app-nav-bar></app-nav-bar>
    </div>
    
    <app-sidebar></app-sidebar>
    
</div>