.header-content {
    height: 50rem;
}

.header-background {
    background-color: grey;
}

.header-background img {
    height: 65rem;
    width: 100%;
}

.header-front{
    z-index: 2;
    
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.header-bloc {
    text-decoration: none;
    color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}


/*
************** LOGGIN SECTION **************
*/

.header-Login-Logout a{
    cursor: pointer;
    
    font-size: 40px;
    
    text-decoration: none;
    color: white;
    
    transition: font-size 0.3s;
}

.header-Login-Logout a:hover {
    font-size: 43px;
}

.header-register {
    padding-top: 10px;
    text-align: center;
}

.header-register a{
    cursor: pointer;
    
    text-decoration: none;
    color: white;
    font-size: 100;
    font-family: Calibri light;
    text-align: center;
    
    padding: 3px 7px;
    border: none;
    border-radius: 15px;
    
    background-color: rgba(128, 128, 128, 0.658);
    
    transition: background-color 0.3s;
}

.header-register a:hover {
    background-color: rgba(128, 128, 128, 0.233);
}

/*
************** ABOUT SECTION **************
*/


.header-about-link {
    position: absolute;
    top: 31rem;
    left: 8rem;
    height: 3rem;
}

.header-about-link a{
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 30px;
    
    
    border: none;
    border-radius: 27px;
    padding: 17px 70px;
    background-color:rgb(240, 240, 0);
    transition: background-color 0.2s ease-in-out;
}

.header-about-link a:hover {
    background-color:rgb(255, 230, 0);
}

/*
************** NAV BAR **************
*/

.header-navbar {
    margin: 0 150px;
    
    position: relative;
    top: 34rem;
    height: 7rem;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.header-navbar a{
    text-align: center;
    
    height: 100%;
    padding: 40px 55px;
    
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.header-navbar a:hover{
    text-decoration: none;
    background-color: rgba(177, 177, 177, 0.411);
    border-bottom:rgb(255, 255, 0) 6px solid;
}

/*************************************************************
REPONSIVE
*************************************************************/


@media screen and (max-width: 1920px) {
    .header-background  img{
        
    }
    
    .header-bloc-title {
        padding-left: 150px;
    }
    
    .header-Login-Logout, .header-register {
        
        padding-right: 150px;
        text-align: right;
    }
    
    .header-about-link {
        top: 30rem;
        left: 14rem
    }
    
    .header-navbar {
        padding: 0;
    }
    
    .header-navbar a{       
        font-size: 30px;
        padding: 40px 30px;
        font-weight: 502;
    }
}

@media screen and (max-width: 1919px) /* and (max-width: 640px) */ {
    .header-bloc-title {
        padding-left: 0px;
    }
    
    .header-Login-Logout, .header-register {
        
        padding-right: 0px;
        text-align: right;
    }
    
    .header-about-link {
        top: 30rem;
        left: 14rem
    }
    
    .header-navbar {
        margin-left: 100px;
        margin-right: 0px;
    }
    
    .header-navbar a{       
        font-size: 25px;
        padding: 40px 30px;
        font-weight: 502;
    }
}

@media screen and (max-width: 1500px) /* and (max-width: 640px) */ {
    .header-navbar a{       
        font-size: 20px;
        padding: 40px 30px;
        font-weight: bold;
    }
}

@media screen and (max-width: 1400px) /* and (max-width: 640px) */ {
    .header-content {
        height: 20rem;
    }

    .header-background  img{
        visibility: hidden;
    }
    
    .header-background {
        background-color: #343840;
    }

    .header-about-link {
        top: 8rem;
        left: 14rem
    }
    
    .header-navbar {
        top: 4rem;
    }

    .header-navbar a{       
        /* Passage à des icones */
    }
}