$header-banner-height: 80vh
$btn-color:  linear-gradient(to bottom right, rgb(231, 153, 7), rgb(240, 224, 0))
$btn-color-hover:  linear-gradient(to bottom left, rgb(231, 153, 7), rgb(240, 224, 0))
    
.header-content
    height: $header-banner-height
    z-index: 0
    position: relative
    overflow: hidden

    .header-background
        position: absolute
        z-index: 1
        height: 100%
        width: 100%

        img
            height: $header-banner-height
            width: 100%
            object-fit: cover
            
    .header-front
        position: absolute
        z-index: 2
        color: white
        height: 100%
        width: 100%

        .header-title
            position: absolute

            h3 
                padding-top: 5px
                padding-left: 10px
            h1
                padding-left: 30px

        .header-about-link
            position: absolute
            top: 30rem
            left: 5rem
            
            a                
                padding: 5px 70px
                font-size: 30px
                background: $btn-color
                border-radius: 20px
                text-decoration: none
                color: black
                transition: background 0.5s ease-in-out
                &:hover
                    background: $btn-color-hover
        
        .header-login-panel
            position: absolute
            top: 10px
            right: 25px
        
        .header-important-add
            position: absolute
            top: 25rem
            left: 50%
            transform: translateX(-50%)

        .header-nav-bar
            position: absolute
            margin: 0 150px
            bottom: 0
                             
@media screen and (max-width: 1919px)
    .header-content
        .header-front
            .header-nav-bar
                margin: 0 0 0 100px
