<div class="header-content">
    <div class="header-background">
        <img 
        src="../assets/images/salle-cinema2.jpg"
        />
    </div>
    <div class="header-front">
        
        <div class="header-title" routerLink='/'>
            <div>
                <h3>𝓁𝑒𝓈 𝒸𝒾𝓃𝑒𝓂𝒶𝓈</h3>
            </div>
            <div>
                <h1>𝗣𝗔𝗧𝗛𝗘 𝗚𝗔𝗨𝗠𝗢𝗡𝗧</h1>
            </div>
        </div>

        
        <div  [@openClose]="isOpen ? 'open' : 'closed'" (click)="toggle()" class="header-about-link">
            <a routerLink="/">En savoir plus sur moi... {{ isOpen ? 'Open' : 'Closed' }}</a>
        </div>
        
        <div class="header-login-panel">
            <app-login-panel></app-login-panel>           
        </div>

        <div class="header-important-add">
            <app-important-add></app-important-add>        
        </div>
        
        <div class="header-nav-bar">
            <app-nav-bar></app-nav-bar>
        </div> 
    </div>
    
    <app-sidebar></app-sidebar>
    
</div>