<div class='footer-content'>
    <div class='footer-content-bloc'>
        <h3>Created by</h3>
        <ul>
            <li>Mathieu Ibersien</li>
        </ul>
    </div>

    <div class='footer-content-bloc'>
        <h3>Created with</h3>
        <ul>
            <li><a href='https://angular.io/'>Angular</a></li>
        </ul>
    </div>

    <div class='footer-content-bloc'>
        <h3>About me</h3>
        <ul>
            <li>
                <img src='../assets/images/gitLab.svg' alt='GitLab logo svg' />
                <a href="https://www-apps.univ-lehavre.fr/forge/im161726">GitLab</a>
            </li>
            <li>
                <img src='../assets/images/github.svg' alt='Github logo svg' />
                <a href="https://github.com/skrollu">Github</a>
            </li>
            <li>
                <img src='../assets/images/email.svg' alt='email logo svg' />
                <a href="mailto:mathieu.ibersien@etu.univ-lehavre.fr">mathieu.ibersien@etu.univ-lehavre.fr</a>
            </li>
            <li>
                <img src='../assets/images/email.svg' alt='email logo svg' />
                <a href="mailto:mat98-76@live.fr">mat98-76@live.fr</a>
            </li>
        </ul>
    </div>
</div>