<div class="login-content">
    <div class="login-form">
        <div class="login-form-buble"></div>
        <div class="login-form-buble"></div>
        <div class="login-form-buble"></div>
        <div class="login-form-buble"></div>
        <div class="login-form-buble"></div>

        <div *ngIf="error != null">
            <div class="login-form-error">
                <p>
                    {{error}}
                </p>
            </div>
        </div>

        <form (ngSubmit)="login()">
            <div class="login-form-bloc">
                <input type="email" name="email" [(ngModel)] = "email" placeholder="Email" required>
            </div>
            <div class="login-form-bloc">
                <input type="password" name="password" [(ngModel)] = "password" placeholder="Mot de passe" required>
            </div>
            <div class="login-form-bloc">
                <button id="login-form-button-id" type="submit">Se connecter</button>
            </div>
        </form>

        <div class="login-form-redirect">
            <a routerLink="/register">Vous n'avez pas en encore de compte ?</a>
        </div>

        <div class="login-form-connectwith-container">
            <a href="api/users/auth/facebook">Facebook test connect with passport (API)</a>
            <a class="login-form-connectwith facebook">
                <img src="../../../../assets/images/facebook.svg" class="connectwith-logo" />
                S'identifier avec Facebook
            </a>

            <a class="login-form-connectwith twitter">
                <img src="../../../../assets/images/twitter.svg" class="connectwith-logo" />
                S'identifier avec Twitter
            </a>

            <a class="login-form-connectwith google">
                <img src="../../../../assets/images/google.svg" class="connectwith-logo" />
                S'identifier avec Google
            </a>
        </div>
    </div>
</div>
