.cinema-maap-content {
  margin: 0 150px;
  padding: 0 50px;
  height: 100%;
  
  background-color: white;
}
/*
Search bar
*/
.cinema-maap-search-bar {
    width: 100vw;
}

#searchBarId {
    height: 100%;
    width: 100%;
    
    font-size: 50px;
    padding: 5px 20px;
    
    border: none;
    background-color: rgba(189, 189, 189, 0.13);
    color: rgb(0, 0, 0);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(32, 32, 32);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(32, 32, 32);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(32, 32, 32);
}



.cinema-maap {
    padding: 100px 0;
    text-align: center;
}


/*************************************************************
REPONSIVE
*************************************************************/


@media screen and (max-width: 1920px) /* and (max-width: 640px) */ {
  .cinema-maap-content {
    margin: 0 0 0 150px;
  }
}

@media screen and (max-width: 1919px) /* and (max-width: 640px) */ {
  .cinema-maap-content {
    margin: 0 0 0 100px;
  }
}

@media screen and (max-width: 1500px) /* and (max-width: 640px) */ {
  .cinema-maap-content {
    margin: 0 0 0 100px;
  }
}