<nav class="navbar">
    <div class="navbar-link" routerLink="/">
        <a>Films</a>
    </div>
    <div class="navbar-link" routerLink="/cinema">
        <a>Cinémas</a>
    </div>
    <div class="navbar-link" routerLink="/test">
        <a>Films & Evènements</a>
    </div>
    <div class="navbar-link" routerLink="/test2">
        <a>Cinépass</a>
    </div>
    <div class="navbar-link" routerLink="/test2">
        <a>Offres & actus</a>
    </div>
    <div class="navbar-link" routerLink="/test2">
        <a>Rechercher</a>
    </div>
</nav>