<div class="movies-grid-content" >
    
    
    <div class="movies-grid-title">
        <h1>
            À l'affiche cette semaine
        </h1>
    </div>
    
    <app-movie-card-slider>
    </app-movie-card-slider>
    
    
    
    <div class="movies-grid-bloc">
        <div class="movies-event-bloc">           
            <div class="movies-grid-title event-title">
                <h1>
                    Prochainement, dans vos cinémas...
                </h1>
            </div>
            <div class="movies-event-grid">
                <div class="movies-event-grid-item movies-event-card event-card-size">
                    <div class="movies-event-card-front">
                        <img src="../../../../assets/images/wonder-woman.jpg" class="event-card-size" />
                    </div>
                    <div class="movies-event-card-back">
                        <h3>Wonder Woman 1984</h3>
                        <a routerLink="/movie/123">Réserver</a>
                    </div>
                </div>
                
                <div class="movies-event-grid-item  movies-event-card event-card-size">
                    <div class="movies-event-card-front">
                        <img src="../../../../assets/images/james-bond.webp" class="event-card-size" />
                    </div>
                    <div class="movies-event-card-back">
                        <h3>James Bond Mourir peut attendre</h3>
                        <a routerLink="/movie/123">Réserver</a>
                    </div>
                </div>
                
                <div class="movies-event-grid-item  movies-event-card event-card-size">
                    <div class="movies-event-card-front">
                        <img src="../../../../assets/images/Black-Widow.webp" class="event-card-size" />
                    </div>
                    <div class="movies-event-card-back">
                        <h3>Black Widow</h3>
                        <a routerLink="/movie/123">Réserver</a>
                    </div>
                </div>
                
                <div class="movies-event-grid-item  movies-event-card event-card-size">
                    <div class="movies-event-card-front">
                        <img src="../../../../assets/images/hunger-games3.jpg" class="event-card-size" />
                    </div>
                    <div class="movies-event-card-back">
                        <h3>Hunger Games 3</h3>
                        <a routerLink="/movie/123">Réserver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-separator"></div>
    
    <div class="movies-grid-bloc">
        <div class="movies-grid-title">
            <h1>
                Actualités
            </h1>
        </div>
        
        <div class="">
            <p>Ici faire des pages d'actualités rédigeables par des utilisateurs "semi-admin"</p>
        </div>
    </div>
    
    <div class="content-separator"></div>
</div>
