.movies-grid-content {
  margin: 0 150px;
  height: 100%;
  background-color: white;
}

.movies-grid-title {
  padding: 70px 0px 0 50px;
}

/*
************* EVENT GRID ***************
*/

.movies-event-bloc {
  margin: 200px 0 0 0;
  background-color: #343840;
}

.event-title h1{
  color: white;
}

.movies-event-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr [col-start]);
  justify-items: center;
  gap: 100px 0;
  
  padding-bottom: 100px;
}

/*
************* EVENT CARD ***************
*/

.movies-event-card {
  border: solid 12px rgb(44, 44, 42);
  border-radius: 5px;
  
  overflow: hidden;
}

.event-card-size {
  height: 700px;
  width: 500px;
}

.movies-event-card:hover 
.movies-event-card-back {
  transform: translateY(-150px);
  position: relative;
}

.movies-event-card-front,
.movies-event-card-back {
  width: 100%;
  height: 100%;
}

/* Style the back side */
.movies-event-card-back {
  
  transform: translateY(0);
  transition: 0.1s linear;
  
  background-color: rgba(78, 73, 73, 0.507);
  color: rgb(255, 255, 255);
  text-align: center;
}

.movies-event-card-back a {
  color: rgb(255, 255, 255);
}

/**********************SEPARATOR*****************************/

.content-separator {
  height: 100px;
  background-color: rgb(233, 232, 232);
}

/*************************************************************
REPONSIVE
*************************************************************/

@media screen and (max-width: 1920px) /* and (max-width: 640px) */ {
  .movies-grid-content {
    margin: 0 0 0 150px;
  }
  
  .event-card-size {
    height: 700px;
    width: 500px;
  }
}

@media screen and (max-width: 1919px) /* and (max-width: 640px) */ {
  .movies-grid-content {
    margin: 0 0 0 100px;
  }
  
  .movies-slider {
    height: 600px;
  }
  
  .movies-slide-row-container {
    width: 80%;
  }
  
  .movies-event-grid {
    grid-template-columns: repeat(2, 1fr [col-start]);
  }
  
  .event-card-size {
    height: 700px;
    width: 500px;
  }
  
  .movies-event-grid {
    display: grid;
    grid-template-columns: 1 1;
  }
}

@media screen and (max-width: 1500px) /* and (max-width: 640px) */ {
  .movies-grid-content {
    margin: 0 0 0 100px;
  }
  
  .movies-slider {
    height: 500px;
  }
  
  .movies-slide-row-container {
    width: 83%;
  }
}

@media screen and (max-width: 1400px) /* and (max-width: 640px) */ {
  .movies-grid-content {
    margin: 0 0 0 0;
  }
  
  .movies-slide-row-container {
    width: 83%;
  }
  
  .movies-event-grid {
    grid-template-columns: repeat(1, 1fr [col-start]);
  }
}