.app-root-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.layout-header  {
    background-color: black;
}

.layout-main  {
    margin: 0;
    flex: 1 0 auto;
}

.layout-footer  {
   background-color: rgb(233, 232, 232);
}