<div class="movie-card-content">
    <a routerLink="/movie/{{movie._id}}">
        <div class="movie-card movie-card-border movie-card-size">
            <div class="movie-card-inner movie-card-border">
                <div class="movie-card-front movie-card-border">
                    <img id="movie-img-{{movie._id}}" class="movie-card-border movie-card-size" src="{{movie.poster}}" alt="poster of {{movie.title}}">
                </div>
                <div class="movie-card-back movie-card-border">
                    <h1>{{movie.title}}</h1>
                    <p>{{movie.plot}}</p>
                </div>
            </div>
        </div>
    </a>
</div>