.header-event 
    position: relative
    width: 1000px
    top: 5rem
    left: 50%
    transform: translateX(-50%)
    overflow: hidden
    cursor: default
    white-space: nowrap

    display: flex


.header-event-row 
    text-transform: uppercase
    font-size: 40px
    font-weight: x-large
    color: white
    animation: publicite 10s linear infinite


@keyframes publicite 
    from 
        transform: translateX(0%)
    
    to 
        transform: translateX(-100%)
