<nav>
   <div class="sidebar">
        <div class="sidebar-close-button-container">
            <button id="sidebarCloseButtonId">X</button>
            <!-- See with state manager to close the sidebar (click)="toggle()" -->
        </div>

        <h1>A propos de moi</h1>
        <p>
            Je suis extrêmement motivé pour
            développer constamment mes
            compétences et évoluer
            professionnellement. Je suis
            confiant dans ma capacité à
            proposer des idées intéressantes
            pour des applications web au
            niveau Back-end comme Frontend.

            Retrouvez mes différents projets sur mon Github ou contactez moi par email ou linkedIn.
        </p>

        <h3>Suivez-moi sur...</h3>
        <div class="contact-list">
            <ul>
                <li><img src="../../../../assets/images/linkedIn.svg" /><a
                        href="https://www.linkedin.com/in/mathieu-ibersien-9466601ba/">Linked in</a></li>
                <li><img src="../../../../assets/images/github.svg" /><a
                        href="https://github.com/skrollu/">Github</a></li>
                <li><img src="../../../../assets/images/facebook.svg" /><a
                        href="https://www.facebook.com/mathieu.ibersien/">Facebook</a></li>
                <li><img src="../../../../assets/images/twitter.svg" /><a
                        href="https://twitter.com/Maaaaamath">Twitter</a></li>
                <li><img src="../../../../assets/images/instagram.svg" /><a href="">Instagram</a></li>
            </ul>
        </div>
    </div>
</nav>